<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta jname='viewport', content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <form action="login_page" method='post'>
            {% csrf_token %}
            <input type="text" name="username" placeholder="username"><br>
            <input type="text" name="password" placeholder="password"><br>
            <button>
                <span>Submit</span>
            </button>
        </form>

        <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor%}
        </div>>

    </body>

</html>